@media screen and (max-width: 700px) {
  .first-page {
    flex-direction: column;
    gap: 1rem;
    width: 80%;
  }
  .btns {
    justify-content: flex-start;
  }
  .text-input {
    width: 70vw;
  }
  .rollno-input {
    margin-top: 0;
  }
}

@media screen and (max-width: 1250px) and (min-width: 701px) {
  .first-page {
    flex-direction: row;
    gap: 1rem;
    width: 80%;
  }
  .btns {
    justify-content: flex-start;
  }
  .text-input {
    width: 40vw;
  }
}

@media screen and (max-width: 1000px) {
  .team {
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
  }
  .credits {
    min-height: 90vh;
  }
  .credits div {
    font-size: 5.5rem;
  }
  
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 944px) {
  #calendar {
    margin: 3% 5%; /* Adjust margin as needed */
  }

  .clickable-div {
    padding: 3%; /* Adjust padding as needed */
  }

  .date {
    font-size: 1rem; /* Adjust font size as needed */
    /* margin-bottom: 40%; Adjust margin as needed */
  }

  .taxi-pool-no {
    font-size: 2rem; /* Adjust font size as needed */
  }
  .no-of-taxis {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #calendar {
    gap: 0;
    margin: 0;
  }
  .clickable-div {
    align-items: center;
    border-radius: 0;
    aspect-ratio: 1/2;
    padding: 8%;
  }
  .date {
    font-size: 1.3rem; /* Adjust font size as needed */
    /* margin-bottom: 60%; Adjust margin as needed */
  }

  .taxi-pool-no {
    font-size: 1.5rem; /* Adjust font size as needed */
  }
  .no-of-taxis {
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
  .day-of-week {
  text-align: center;
    font-size: 1.5rem;
  }
  #day-calendar {
    width: 90%;
    max-width: none;
  }
  .date-month {
    display: none;
  }
  .title .no-of-taxis {
    flex-direction: row;

  }
}
